{% extends 'core/base.html' %}
{% block content %}

<div>
    {% if action == 'create' %}
        <h1>Fill in the below form to add an item to the task {{ task_title }}</h1>
    {% elif action == 'update' %}
        <h1>Update this Item</h1>
    {% endif %}
    <br>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.title.label }}{{ form.title() }} <br> <br>
        {{ form.description.label }}{{ form.description() }} <br>
        {{ form.submit() }}
    </form>
</div>

{% endblock %}
