{% extends 'core/base.html' %}
{% block content %}

<div>
    <h1>Item Overview</h1>
    <h2>{{ item.title }}</h2>
    <h3>Status: {{ item.status.status_code }}</h3>
    <h3>Description</h3>
    <p>{{ item.description }}</p>
    <form action="{{ url_for('items.update',title=item.title) }}" method="GET">
        <input type="submit" value="Update Item">
    </form>
    <br>
    <h3>Item Notes</h3>
    <form action="{{ url_for('comments.add_item_comment', item_title=item.title) }}" method="GET">
        <input type="submit" value="Add a new Note">
    </form>
    {% for note in item.comments %}
        <ul>
            Written By: {{ note.user.user_name}} <br>
            Note: {{ note.comment_text }}
        </ul>
    {% endfor %}
    <br>
    <p>Item Created On: {{ item.create_date }}</p>
</div>
<br>
<div>
    <form action="{{ url_for('tasks.overview', title=item.task.title) }}" method="GET">
        <input type="submit" value="Back to Task Overview">
    </form>
    <form action="{{ url_for('projects.overview', title=item.task.project.title) }}" method="GET">
        <input type="submit" value="Back to Project Overview">
    </form>
</div>

{% endblock %}
