{% extends 'core/base.html' %}
{% block content %}

<div>
    <h1>Home page for {{ current_user.user_name }}</h1>
    <p>See acount info</p>
    <a href="#">Account</a>
</div>

<div>
    <h2>Current Projects</h2>
    <p>Here are your current projects being tracked</p>
    {% for project in projects %}
        <ul>
            {{ project.title }}  <form action="{{ url_for('projects.project_overview', title=project.title) }}" method="GET">
                <input type="submit" value="See Project Overview">
                </form>
        </ul>
    {% endfor %}
</div>
<br>
<div>
    <a href="{{ url_for('projects.create_project') }}">Start a new Project</a>
    <a href="#">Search for a Project</a>
    <br>
    <br>
    <a href="{{ url_for('users.logout') }}">Logout</a>
</div>

{% endblock %}
